@charset "UTF-8";

/* GENERAL */

body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}
h1 .material-icons {
    float: right;
    margin-right: 1.5em;
    margin-top: -.5em;
    border-radius: 1em;
    cursor: pointer;
    padding: .5em;
    background-color: rgba(0,0,0,.1);
}
h1 .material-icons:hover {
    background-color: rgba(0,0,0,.2);
}
input, input:focus, textarea:focus {
    outline: none;
}
h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 1em;
    width: 100%;
	cursor:pointer;
    box-shadow: 0 4px 8px -0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#colors h1 {
	cursor: default;
}
#side h1 {
    padding: 1em 0;
}

#side {
    position: fixed;
    top:0;
    left: 0;
    display: inline-block;
    width: 5em;
    height: 100%;
}
#abt {
    bottom: 0;
}
#opt {
    bottom: 51%;
}
.rotate {
    opacity: .6;
    position: absolute;
    left: 5em;
    width: 50vh;
    height: 5em;
    text-align: center;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rotate:hover {
    opacity: 1;
}

#actual {
    overflow: hidden;
    top: 0;
    margin-left: calc(5em + .5%);
    margin-right: calc(18em + .5%);
}
.mPanel {
    overflow: hidden;
    background-color: #F2F2F2;
    position: relative;
    height: 48vh;
    width: 49%;
    min-height: 24em;
    margin: .5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.panA {
    float: left;
}
.panB {
    float: right;
}

/* PICKER */

#boxPicker {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/bg.png');
    /*border: solid;
    border-width: .5em;
    border-color: white;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
}
#boxPicker:active {
    cursor: default;
}
#pickCircle {
    position: absolute;
    top: -.6em;
    right: -.6em;
    height: 1.2em;
    width: 1.2em;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-radius: 1.2em;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#pickers, #harBox {
    position: relative;
    margin: auto;
    height: 34vh;
    min-height: 16em;
    width: calc(34vh + 4em);
    min-width: 20em;
    max-width: calc(20vw + 4em);
    max-height: 20vw;
    margin-top: 1.5em;
}
#boxPicker, #colorWheel {
    position: relative;
    height: 34vh;
    width: 34vh;
    min-height: 16em;
    min-width: 16em;
    max-height: 20vw;
    max-width: 20vw;
}
#boxPickerBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 100%;
    background: linear-gradient(to bottom, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}

/* ADJUSTMENTS */

#adjWrap {
    position: relative;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 6em);
    text-align: justify;
    text-justify: distribute-all-lines;
    width: 100%;
    max-width: 28em;
}
#adjStretch {
    width: 100%;
    display: inline-block;
}
.adjColors {
    height: 90%;
    width: 4.5em;
    display: inline-block;
    overflow: hidden;
    border-radius: 4em;
    background-color:#FAFAFA;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
}
.adjColors:first-child{
    margin-left: .5em;
}
.adjColors:nth-last-child(2) {
    margin-right: .5em;
}
.adjC {
    height: 3em;
    width: 3em;
    margin: 1em auto;
    border-radius: 3em;
    cursor: pointer;
}

/* PALETTES */

#palWrap {
    top: 2em;
    position: relative;
    overflow: scroll;
    padding-right: 1em;
    max-height: calc(100% - 8em);
    margin: auto;
    width: 80%;
    min-width: 14em;
}
.aPal {
    position: relative;
    margin-bottom: 1em;
    width: 100%;
    height: 2.5em;
}
.aPal::after {
    content: '';
    opacity: .1;
    background-color: black;
    height: .4em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.palC {
    cursor: pointer;
    float: left;
    height: 100%;
}

/* HARMONIES */

#colorWheel {
    background-image: url("../img/conic.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    /*border: solid;
    border-width: .5em;
    border-color: white;/*
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
}
#colorCenter {
    background-color: #F2F2F2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 26vh;
    width: 26vh;
    min-height: 12em;
    min-width: 12em;
    max-height: 16vw;
    max-width: 16vw;
    /*border: solid;
    border-width: .5em;
    border-color: white;*/
    /*box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
}

/* RESULT */

#results {
    background-color: #F2F2F2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 18em;
}
#showing {
    margin: 1em auto;
    width: 93%;
    max-height: calc(55vh - 5em);
    overflow-y: scroll;
    overflow-x: hidden;
}
.aColor {
    height: 4em;
    width: 4em;
    border-radius: 4em;
    margin: .5em 0 .5em 1em;
    display: inline-block;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.bColor {
    height: 3em;
    width: 80%;
    margin: .5em auto;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    /*text-align: center;
    line-height: 3;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.sColor {
    border-style: solid;
    border-color: white;
    border-width: 4px;
    transform: translate(-2px, -2px);
}
.aColor.sColor {
    margin: calc(.5em - 4px) -4px calc(.5em - 4px) calc(1em - 4px);
}
#rColor {
    position: relative;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    color: #9E9E9E;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.aColor #rColor {
    top: 2.2em;
    left: 1em;
}
.bColor #rColor {
    top: .5em;
    right: calc(-100% + 2.5em);
}
#rColor .material-icons {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input[type=textarea],textarea {
    border: none;
    font: 1em 'Quicksand', sans-serif;
    letter-spacing: 1px;
    margin: 10% 5%;
    padding: 1em;
    width: 80%;
    height: 30vh;
    resize: none;
    background-color: transparent;
    border-bottom: 4px;
    border-bottom-style: solid;
}
input[type=textarea]:focus,textarea:focus {
    border-bottom: 4px;
    border-bottom-style: solid;
}
#enterText {
    position: absolute;
    bottom: 0;
    width: 100%;
}
input[type=textarea],textarea {
    border-bottom-color: rgba(103, 58, 183, .4);
}
input[type=textarea]:focus,textarea:focus {
    border-bottom-color: #673ab7;
}

/* SIDE */

.slideIn {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: calc(99% - 18em + 2px);
    top: 0;
    left: calc(-99% + 18em - 2px);
    background-color: #F2F2F2;
}
.slideCont {
    margin: 5vh auto;
    color: black;
    font-size: 1.2em;
    min-width: 20em;
    width: 40vw;
    line-height: 1.5;
}
#slideOpt .slideCont {
    height: calc(90vh - 4em);
    padding-right: 3.2em;
    overflow-x: hidden;
    overflow-y: scroll;
}
#slideAbt .slideCont {
    width: 22em;
}
.slideCont br {
    font-size: 1.5em;
}
.slideCont a {
    text-decoration: none;
}
.slideCont a:hover {
    color: gray !important;
}
#colorPotIcon {
    position: absolute;
    background-image: url("../icons/ico.png");
    background-size: cover;
    height: 4em;
    width: 4em;
    transform: translate(16em, -3em);
}
#optHead {
    margin-top: -1vh;
}
#optHead b {
    font-size: 1em;
    line-height: 3;
    margin-right: 1em;
    cursor: pointer;
    position: relative;
}
.headActive::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .15em;
    left: 0;
    bottom: -.4em;
    background-color: #673ab7;
}
.optCard {
    padding: 1em;
    margin: .5em;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px -0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
}
.optCard .material-icons {
    position: absolute;
    padding-top: .1em;
    padding-left: .4em;
    color: #607D8B;
}
.mChoose {
    position: relative;
    height: 1.5em;
}
.mChoose label {
    cursor: pointer;
    position: absolute;
}
input[type=checkbox], input[type=radio] {
    display:none;
    cursor: pointer;
}
input[type=checkbox] + .cLabel::before,
input[type=radio] + .rLabel::before {
    content: '';
    border: .15em solid #607D8B;
    display: inline-block;
    vertical-align: middle;
    width: .8em;
    height: .8em;
    padding: 0;
    margin-right: 1em;
    border-radius: .2em;
}
input[type=checkbox]:checked + .cLabel::before{
    background: #673ab7;
    content: '✓';
    line-height: .8em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: .15em solid #673ab7;
}
input[type=radio] + .rLabel::before {
    border-radius: 50%;
}
input[type=radio]:checked + .rLabel::before{
    content: '';
    border: .15em solid #673ab7;
}
input[type=radio]:checked + .rLabel::after{
    content: '';
    height: .6em;
    width: .6em;
    position: absolute;
    background-color: #673ab7;
    border-radius: .8em;
    top: .5em;
    left: .2em;
}
#intRange {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -.4em;
    width: 10em;
}
#optReset {
    color: #673ab7;
    cursor: pointer;
    padding: .2em .4em;
    width: 10em;
    border-radius: .4em;
}
#optReset:hover {
    opacity: .6;
}
#optReset:active {
    background-color: #673ab7;
    color: white;
}
.mChoose select {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    width: 12em;
    padding: .1em 1em;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid;
    border-width: .15em;
    border-color: #607D8B;
}
.mChoose select:focus, .mChoose select:active {
	border-color: #673ab7;
}

/* FEEDBACK */

#feedback {
    overflow: hidden;
    position: fixed;
    height: 80%;
    width: 80%;
    max-width: 40em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: #F2F2F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    display: none;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    background: #673ab7;
    cursor: pointer;
    margin-top: -.5em;
}
input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .2em;
    cursor: pointer;
    background: #9E9E9E;
    border-radius: .2em;
    border: none;
}
#fbForm {
    padding: 2em;
}
#fbForm input{
    margin: 0 0 1em 0;
    padding: .5em;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    border-bottom: solid;
    border-bottom-color: rgba(103, 58, 183, .4);
}
#fbForm input:active, #fbForm input:focus {
    border-bottom-color: #673ab7;
}
#fbText {
    padding: .5em;
    margin: 0 0 1.5em 0;
    width: calc(100% - 2.5em);
    height: calc(80vh - 22em);
}
#fbForm input[type=submit] {
    border: none;
    padding: 1em 4em;
    color: white;
    background-color: rgba(103, 58, 183, .8);
    border-radius: .5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    box-shadow: 0 4px 8px -0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#fbForm input[type=submit]:hover {
    background-color: rgba(103, 58, 183, .9);
}
#fbForm input[type=submit]:active {
    background-color: #673ab7;
}

#fbSent {
    padding: 2em;
    font-size: 1.2em;
    text-align: center;
    display: none;
}
#fbSent br {
    line-height: 2em;
}
#thumb {
    font-size: 2em;
    color: #9e9e9e;
}

/* ANIMATION */

.transform-panel-transition {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.transform-panel-active {
    min-height: 0;
    height: 4.5em;
}
.transform-panel-expand {
    height: calc(98vh - 4px);
    min-height: calc(48em + 12px);
}
.transform-slideIn-transition {
    -webkit-transition: all .8s;
    transition: all .8s;
}
.transform-slideIn-active {
    left: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
/*
::-webkit-scrollbar-button { }
::-webkit-scrollbar-track-piece { }
::-webkit-resizer { }
*/

@media screen and (max-width: 68em),screen\9 {
    .mPanel {
        width: 99%;
    }
}