@charset "UTF-8";
/* PICKER */

#mapView {
    height: 100%;
    width: 100%;
}
#colorMap {
    background-image: url("../img/colormap.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
    width: 100%;
}
