@charset "UTF-8";

#mapView {
    height: 100%;
    width: 100%;
}
#colorMap {
    background-image: url("../img/colormap.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
    width: 100%;
}
#harPick {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5em;
    min-width: 16em;
    width: 34vh;
    max-width: 20vw;
    -webkit-transform: translateX(-2em) rotate(270deg);
    transform: translateX(-2em) rotate(270deg);
    transform-origin: top right;
}
#harRange {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heart {
    margin-top: 2em;
    position: absolute;
    width: 6em;
    left: 50%;
    transform: translate(-50%, 0) scale(.6);
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 3em;
    top: 0;
    width: 3em;
    height: 4.8em;
    background: #E91E63;
    border-radius: 3em 3em .5em .5em;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}